html,body{
  margin: 0;
  padding: 0;

}
body {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: darkslategray;
}

#rectangle1 {
    width: 150px;
    height: 150px;
    border-style: none;
    margin: 20px;
}